.Header{
  width: 100%;
  background-color: #E2F7C2;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Menu{
  list-style: none;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  width: 50%;
}

@media screen and (max-width: 992px){
  .Menu{
    width: 100%;
  }
}

.Menu li a{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  color: #222222;
  text-decoration: none;
}

@media screen and (max-width: 500px){
  .Menu li a{
    font-size: 14px;
  }
}

@media screen and (max-width: 400px){
  .Menu li a{
    font-size: 12px;
  }
}